<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- 32-bit / 64-bit variables -->
  <?if $(var.Platform) = x64 ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>

  <Product Id="*" Name="sensu-client.net" Language="1033" Version="0.2.3.0" Manufacturer="Klett IT GmbH" UpgradeCode="241c7c58-a726-44f9-ae7b-7e9928f68ef5">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Upgrade Id="241c7c58-a726-44f9-ae7b-7e9928f68ef5">
      <UpgradeVersion Minimum="0.2.2.0" Maximum="0.2.3.0" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="Icon.ico" SourceFile="$(var.sensu-client.net.TargetDir)\Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico" />
    <Feature Id="ProductFeature" Title="sensu-client.net" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="config" />
      <ComponentGroupRef Id="plugin" />
    </Feature>

    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    <InstallExecuteSequence>
      <DeleteServices><![CDATA[NOT UPGRADINGPRODUCTCODE]]></DeleteServices>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="sensu-client">
          <Directory Id="configdir" Name="conf.d"></Directory>
          <Directory Id="plugindir" Name="plugins"></Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="sensuclient_service" Guid="977a70b5-5e85-4225-acda-403fa3a6b4ac">
        <File Source="$(var.sensu-client.net.TargetDir)" Id="sensuclient.net.exe" Name="sensu-client.net.exe" />
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="sensu-client.net" DisplayName="Sensu Client.NET" Description="Sensu Client" Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no">
          <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="none" RestartServiceDelayInSeconds="60" ResetPeriodInDays="1" />
        </ServiceInstall>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="sensu-client.net" Wait="no" />
      </Component>
      <Component Id="sensuclient.exe.config" Guid="203fe2d9-2e84-4026-9587-11f2f42de9a3">
        <File Source="$(var.sensu-client.net.TargetDir)\sensu-client.net.exe.config" Name="sensu-client.net.exe.config" />
      </Component>
      <Component Id="NLog.dll" Guid="c0d45115-b6ce-442e-99e5-b5d07349da81">
        <File Source="$(var.sensu-client.net.TargetDir)\NLog.dll" />
      </Component>
      <Component Id="NLog.config" Guid="5c74b4b0-5709-4e76-b99a-e312be11b58c">
        <File Source="$(var.sensu-client.net.TargetDir)\NLog.config" />
      </Component>
      <Component Id="RabbitMQ.Client.dll" Guid="0cabcce4-9bd7-4435-b301-70a38efa4f59">
        <File Source="$(var.sensu-client.net.TargetDir)\RabbitMQ.Client.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="f9a5f820-a239-4444-9029-e17058803b61">
        <File Source="$(var.sensu-client.net.TargetDir)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="config.json" Guid="94750ef6-e2e4-449f-a335-0f44d34f2699">
        <File Source="$(var.sensu-client.net.TargetDir)\config.json" />
      </Component>
      <Component Id="Microsoft.Diagnostics.Tracing.EventSource.dll" Guid="2af0c863-cfb7-43fc-9ab4-d660e5d94039">
        <File Id="Microsoft.Diagnostics.Tracing.EventSource.dll" Name="Microsoft.Diagnostics.Tracing.EventSource.dll" Source="$(var.sensu-client.net.TargetDir)Microsoft.Diagnostics.Tracing.EventSource.dll" />
      </Component>
      <Component Id="PluginInterfaces.dll" Guid="ed6e9d47-511b-4058-ab87-eeeddfbf63f4">
        <File Id="PluginInterfaces.dll" Name="PluginInterfaces.dll" Source="$(var.PluginInterfaces.TargetDir)PluginInterfaces.dll" />
      </Component>
      <Component Id="Icon.ico" Guid="901A20C4-7A88-47AF-8AD9-76264238E35E">
        <File Source="$(var.sensu-client.net.TargetDir)\Icon.ico" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="config" Directory="configdir">
      <Component Id="client.json" Guid="32a86313-d315-42ac-aee0-b0fdc2f34b4f">
        <File Source="$(var.sensu-client.net.TargetDir)\conf.d\client.json" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="plugin" Directory="plugindir">
      <Component Id="cpu_plugin" Guid="91E2F3CD-67E6-40F7-AF27-119D403F5B07">
        <File Source="$(var.sensu-client.net.TargetDir)\plugins\sensu-client.net-cpu.dll" />
      </Component>
      <Component Id="memory_plugin" Guid="CFA5C30F-B78E-4906-80DC-DF9C114D4945">
        <File Source="$(var.sensu-client.net.TargetDir)\plugins\sensu-client.net-memory.dll" />
      </Component>
      <Component Id="disk_plugin" Guid="ADA938E3-0D19-4E22-A010-9E5DA4A7A574">
        <File Source="$(var.sensu-client.net.TargetDir)\plugins\sensu-client.net-disk.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>